body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

    main { 
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 3em;
    }
    header {
        text-align: center;
        margin: auto 2em;
    }
    
    section {
        margin: auto 1em 4em 2em;
    }
    
    i {
        margin-right: .5em;
    }
    
    p {
        margin: .2em auto
    }
    
    hr {
        border: none;
        background-color: lightgray;
        height: 1px;
    }
    
    h1, h2, h3 {
        font-weight: 100;
        margin-bottom: 0;
    }
    #mainLeft {
        border-right: 1px solid lightgray;
    }
    .read-more-state {
        display: none;
      }
      
      .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: .25s ease;
      }
      
      .read-more-state:checked ~ .read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
      }
      
      .read-more-state ~ .read-more-trigger:before {
        content: 'Show more';
      }
      
      .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Show less';
      }
      
      .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 .5em;
        color: #666;
        font-size: .9em;
        line-height: 2;
        border: 1px solid #fff;
        border-radius: .25em;
      }
      
      /* Other style */ 
      body {
        padding: 2%;
      }
      
      p {
        padding: 2%;
        background: #ffffff;
        color: #000000000;
        border: 1px solid #fffff;
        border-radius: .25em;
      }